body {
    background-color: #264653;
}
h1, h2, h3 {
    text-align: center;
    color: #f4a261;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #e9c46a;
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
.container {
    display: flex;
    justify-content: center;
}

.container div {
    justify-content: center;
    width: 400px;
    height: 400px;
    border: solid 5px;
    border-width: 1rem;
}


#image {
    display: flex; 
    align-items: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.controls {
    display: flex;
    justify-content: center;
}

#playto, button {
    font-weight: 800;
    color: #f4a261;
    border-color: black;
    background-color: #264653;
}

